* {
  text-align:center;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font: "Lato", sans-serif;
  color: white;
  margin: 0;

}


.Nav {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        text-align: right;
        list-style: none;
  padding: 15px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
      -moz-box-shadow: 0 8px 6px -6px #999;
      box-shadow: 0 8px 6px -6px #999;
      z-index: 999;
      }

      .Nav a {
        color: #999999;
        padding: 8px 20px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        display: inline-block;
        padding-top: 8px;
      }

  .logo {
        height: 100%;
        width: 20%;
        float: left;
        padding-left: 20px;
      }

      .img-logo {
        width: 100px;
        float: left;
      }

      .Nav a:hover {
        background-color: lightgray;
      }

      .Nav .icon {
        display: none;
      }

      @media screen and (max-width: 670px){
        .Nav a{display: none;}
        .Nav a.icon {
          float: right;
          display: block;
        }
      }

      @media screen and (max-width: 600px){
        .Nav.responsive {position: relative;}
        .Nav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }

        .Nav.responsive a {
          float:none;
          display: block;
          text-align: center;
        }
      }



main {

}
footer {
  margin: 0%;
  position: static;
}


.column1, .picturecolumn, .column2{
  width: 50%;
  float: left;
  margin: 0%;
  height: 450px;

}

.column1 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f7f7f7;
}

.column2 {
  margin: 0px;
  width: 55%;
}

.column3 {
  width: 40%;
  float: left;
}

.picturecolumn {
  padding: 0px;
  padding-bottom: 0px;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
}

.bgimg-1, .bgimg-2 {
  width: 100%;
  position: relative;
  opacity: 1; 
  float: center;
  padding: 0px;
  margin: 0;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100% 
}  

.dividerimg1, .dividerimg2, .dividerimg3, .dividerimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

.video {
  height: 100%;
  width: 100%;
  float: left;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  border: none;
}

.WhatWeOffer {
  height: auto;
  width: 100%;
  float: left;
  background-color: white;
  padding: 5%;
}

.dividerimg2 {
  background-image: url("../imgs/handprint_wall.png");
  height: 500px;
  width: 100%;
  float: left;
  object-fit: cover;
  width: 100%;
  background-attachment: scroll;
}

.dividerimg3 {
  background-image: url("../imgs/bisque.jpg");
  height: 500px;
  width: 100%;
  float: left;
  object-fit: cover;
  width: 100%;
}

.dividerimg4 {
  background-image: url("../imgs/store_front.jpg");
  height: 500px;
  width: 100%;
  float: left;
  object-fit: cover;
  width: 100%;
}

.toptitle {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  margin-bottom: -40px;
  color: lightpink;
  margin-top: 10px;
}

.toptitle_paint {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  margin-bottom: -40px;
  color: lightpink;
  margin-top: 10px;
  color: #b8c1bc;
}

.toptitle_glass {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  margin-bottom: -40px;
  color: lightpink;
  margin-top: 10px;
  color: #cbcdd6;
}

.toptitle_clay {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  margin-bottom: -40px;
  color: lightpink;
  margin-top: 10px;
  color: #D8C5D1;
}

.toptitle_parties {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  margin-bottom: -40px;
  color: lightpink;
  margin-top: 10px;
  color: #DDDCBC;
}


.bottomtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #999999;

}

.toptitle2 {
  line-height: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #999999;
}

.toptitle3 {
  line-height: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #999999;
  text-align: left;
}

.bodytext {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #999999;

}

.bodytext2 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 18px;
  color: #999999;

}

.bodytext3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #999999;
  text-align: left;
  }

.bodytext4 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 18px;
  color: #999999;
  text-align: left;
  line-height: 0px;

}

.HowItWorks_pottery {
  height: auto;
  width: 100%;
  float: left;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}



.step_icons {
  width: 15%;
  padding-left: 0px;
  margin: 0px;
  float: left;
  text-align: left;
}

.step {
  width: 70%;
  float: left;
  padding: 0px;
  text-align: left;
}

/** INSTAGRAM **/

.img-column {
    float: left;
    width: 20%;
    padding: 25px;
}

.img-column2 {
    float: left;
    width: 25%;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.row {
  padding-left: 200px;
  padding-right: 200px;
}

.row2 {
  padding-left: 10%px;
  padding-right: 10%px;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


input[type=text] {
 width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  float: left;
}

form {
  display: inline-block;
}

.ContactUs {
  width: 100%;
  float: left;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.contact {
  width: 50%;
  float: left;
  padding: 200px;
  padding-top: 20px;
  padding-bottom:100px;
  border: 1px;
  border-width: 1px;
  border-style: grey;
}

.contact_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #999999;
  text-align: left;
  margin: 0px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: grey;
  border: none;
  color: white;
  padding: 14px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

nav, footer {
  background-color: white;
  padding: 0px 0;
}

footer {
  background-color: #f7f7f7;
  padding: 3%;
}

.footerone{
 
 width: 20%;
 float: left;
 padding-left: 1%;
 padding-right: 1%;
 margin-left: 15%;
 margin-right: 15%;

}

article {
  margin-bottom: 0%;
  background-color: white;
  float: center;

}


@media only screen and (max-width:600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
  }
}

.dropbtn {
    background-color:white;
    color: #999999;
    padding: 8px;
    font-size: 13px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #999999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgrey;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgrey;}

@media only screen and (max-width:600px){
  .dropdown{
    display:block;
    position:relative;
  }
  .dropdown-content{
    width: 100%;
    float:none;
    text-align: center;
  }
}


@media only screen and (max-width:980px) {
  .column1, .column2, .bodytext {
    width: 100%;
    font-size: 13px;

  }
}

@media only screen and (max-width:980px) {
.picturecolumn {
  width: 100%;
    
  }
}

@media only screen and (max-width:980px) {
  .claywords, .paintwords, .glasswords, .partieswords, .contactwords {
    padding-top: 0px;
    padding-bottom: 50px;
   }
}

@media only screen and (max-width:1040px) {
  .claywords, .paintwords, .glasswords, .partieswords, .contactwords {
    padding-top: 0px;
    padding-bottom: 50px;
   }
}

@media only screen and (max-width:1040px) {
  .bodytext {
    font-size: 13.5px;
   }
}
@media only screen and (max-width:980px) {
  .toptitle, .bottomtitle, .bodytext {
    padding-left: 15px;
    padding-right: 15px;
   }
}

@media only screen and (max-width:600px) {
  .toptitle{
    font-size: 30pt;
   }
}

@media only screen and (max-width:600px) {
  .bottomtitle{
    font-size: 15px;
    padding-top: 20px;
   }
}

@media only screen and (max-width:980px) {
  .dividerimg1, .dividerimg2, .dividerimg3, .dividerimg4, {
    width: 100%;
    height: auto;
    
    background-attachment: ;
    
  }
}

@media only screen and (max-width:980px) {
  .row {
    width: 100%;
    padding: 0px;
    
  }
}

@media only screen and (max-width:980px) {
  .img-column {
    width: 20%;
    padding: 5px;
    
  }
}

@media only screen and (max-width:980px) {
  .contact {
    width: auto;
    height: 100%;
    padding: 5px;
    
  }
}

@media only screen and (max-width:700px){
  .img-logo{
    width: 0px;
    padding: 0px;
    }
  }

@media only screen and (max-width:600px){
  .dropdown{
    display:block;
    position:relative;
  }
  .dropdown-content{
    width: 100%;
    float:none;
    text-align: center;
  }
}


@media only screen and (max-width:980px) {
  .ContactUs {
    display: none;
  }

  @media only screen and (max-width:700px){
  .home{
    padding-top: 90px;    }
  }

  @media only screen and (max-width:700px){
  .WhatWeOffer{
    padding:10%;
    }
  }

@media only screen and (max-width:980px){
  .img-column2 {
    width: 100%;
    padding:10%;
  }
  }

  @media only screen and (max-width:1300px) {
    .step_icons {
      width: 100%;
      margin: 0;
    }

  @media only screen and (max-width:1300px) {
    .step {
      width: 100%;
      margin:0;
    }

  @media only screen and (max-width:1300px) {
    .column3 {
      width: 100%;
      height: auto;
      margin: 0;
    }

  @media only screen and (max-width:1300px) {
    .column2 {
      width: 100%;
      height: auto;
    }

@media only screen and (max-width:980px) {
    .toptitle3 {
      width: auto;
      line-height: 30px;
    }

    @media only screen and (max-width:980px) {
    .bodytext3 {

        }

    @media only screen and (max-width:980px) {
    .bodytext4 {
      height: auto;
      line-height: 20px;
  }
    }
      
   @media only screen and (max-width:980px) {
    .footerone {
      width: 100%;
      padding: 1%;
      margin: 0;
    }

    @media only screen and (max-width:980px) {
      .img-column {
        width: 100%;
      }
    }
